<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>NightGuide</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb195378768070002</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>24</string>
	<key>FacebookAppID</key>
	<string>195378768070002</string>
	<key>FacebookDisplayName</key>
	<string>NightGuide</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth2</string>
		<string>comgooglemaps</string>
		<string>citymapper</string>
		<string>uber</string>
		<string>lyft</string>
		<string>transit</string>
		<string>waze</string>
		<string>yandexnavi</string>
		<string>moovit</string>
		<string>yandexmaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Apple music usage</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth usage</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendar usage</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera usage</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Use maps and distances</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Use maps and distances</string>
	<key>NSMotionUsageDescription</key>
	<string>Motion usage</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Photo library add usage</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo library usage</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech recognition usage</string>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSans-Bold.ttf</string>
		<string>NotoSans-BoldItalic.ttf</string>
		<string>NotoSans-Italic.ttf</string>
		<string>NotoSans-Regular.ttf</string>
		<string>NotoSans.ttf</string>
		<string>NotoSans-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
